<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ardian.gotujzadrianem" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogAvtiity_"
           >
        </activity>
        <activity
            android:name=".RecipeDetails_" >
        </activity>
        <activity
            android:name=".AddRecipe_" >
        </activity>
        <activity
            android:name=".RegistrationActivity_"
            android:label="Rejestracja">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>